.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/content
f-sharp-examples/**/bin/
f-sharp-examples/.idea/
f-sharp-examples/**/*.fsproj
f-sharp-examples/**/obj/
